# Copyright (c) 2021 Argentum Systems Ltd.
# KBH 08/17/2023
# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_SAML22=y
CONFIG_SOC_PART_NUMBER_SAML22G17A=y
CONFIG_SOC_ATMEL_SAML_XOSC32K=y
CONFIG_SOC_ATMEL_SAML_XOSC32K_AS_MAIN=y
CONFIG_BOARD_WAVELYNX_ATHENA=y
CONFIG_BUILD_OUTPUT_HEX=y

CONFIG_CONSOLE=n
CONFIG_GPIO=y
CONFIG_SERIAL=y
CONFIG_UART_CONSOLE=n
CONFIG_UART_INTERRUPT_DRIVEN=y

CONFIG_FLASH_SIZE=128
CONFIG_SRAM_SIZE=16
