menu "Z9Lock"

config Z9_READER
    bool "Enable Reader"
    default n

config Z9_CONTROLLER
    bool "Enable Controller"
    default n
endmenu

menu "Z9 Crypto"

config Z9_GCM_C
    bool "Enable Software GCM"
    default n
rsource "aes-gcm/Kconfig"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
