menu "Z9Lock"

config Z9_READER
    bool "Enable Reader"
    default n

config Z9_CONTROLLER
    bool "Enable Controller"
    default n
endmenu

#rsource "aes-gcm/Kconfig.aes-gcm"
rsource "z9-st2543916"

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
