menu "Z9Lock"

config Z9_READER
    bool "Enable Reader"
    default n

config Z9_CONTROLLER
    bool "Enable Controller"
    default n
endmenu

rsource "aes-gcm/Kconfig.aes-gcm"

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
