// nrf5240DK overlay
//
// 1. use mcuboot "slot1" for z9lock flash
// 2. use arduino-serial for z9-io
//
// XXX The flash partition matches dongle.
// XXX Will need to move to external flash to test DFU
//

// NB: these commands declare additional partitions, 
//     without deleting the standard ones (except `slot1`)
/delete-node/ &slot1_partition;
&mx25r64 {
	partitions {
		// declare z9lock flash where `slot1` would be
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		event_normal_partition: partition@82000 {
			label = "event-normal";
			reg = <0x00082000 0x00010000>;
		};
		event_priority_partition: partition@92000 {
			label = "event-priority";
			reg = <0x00092000 0x00010000>;
		};
		credentials: partition@a2000 {
			label = "credentials";
			reg = <0x000a2000 0x00056000>;
		};
    };
};

// set Z9IO to arduino-serial (aka uart1)
/ {
	aliases { z9io-serial = &arduino_serial; };
};

&arduino_serial {
	current-speed = <9600>;
	status = "okay";
};
&rng {
	status = "okay";
};
